@model BlogSiteApp.Models.Post

@{
    Layout = null;
}
@using System.Web.SessionState
<!DOCTYPE html>
<html>

<!-- Mirrored from www.kingthemes.com/preview/casanova/html/blog.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 09 Apr 2014 02:21:50 GMT -->
<head>
    <meta charset="UTF-8">
    <title>Dreamers - Blog</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
    <!-- google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet" type="text/css">

    <!-- start stylesheets -->
    <link rel="stylesheet" type="text/css" href="../../src/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/core.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/custom.css">
    <link rel="stylesheet" type="text/css" href="../../css/responsive.css">
    <link rel="stylesheet" type="text/css" href="../../src/tooltipster/tooltipster.css">
    <link rel="stylesheet" type="text/css" href="../../src/swipebox/swipebox.css">
    <link rel="stylesheet" type="text/css" href="../../src/rs-plugin/css/settings.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- end stylesheets -->
    <!-- start scripts -->
    <script src="~/Scripts/tinymce/tiny_mce.js"></script>
    <script type="text/javascript" src="../../src/modernizr/modernizr.custom.js"></script>
    <script type="text/javascript" src="../../src/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../src/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="../../src/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry&amp;1343675513"></script>
    <!-- end scripts -->
</head>
<body>
    <!-- start header -->
    <header id="site-header" class="header section light">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <!-- start logo -->
                <div id="logo" class="col-29">
                    <h1 class="site-title"><a href="index-2.html"><img src="../../img/logo-dark.png" alt="casanova"></a></h1>
                </div>
                <!-- end logo -->
                <!-- start header widgets -->
                <div id="header-widgets" class="col-7">
                    <!-- start social icons -->
                    <nav id="header-social" class="text-right">
                        <a href="#" class="icon circle tooltip" title="Find us on Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="icon circle tooltip" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="icon circle tooltip" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                    </nav>
                    <!-- end social icons -->
                    <!-- start site nav -->
                    <nav id="site-nav" class="nav horizontal text-right">
                        <ul class="dropdown">
                            <li><a href="@Url.Action("Index", "Post")">Home</a></li>
                            @{
                                if (Session["Username"] != null)
                                {
                                    <li>
                                        <a href="#">Wellcome! @Html.DisplayFor(modelitem => Session["Username"])</a>
                                        <ul>
                                            <li><a href="@Url.Action("Index", "Post/UserArticleList")">MyPost</a></li>
                                            <li><a href="@Url.Action("Index", "Post/CreatePost")">Post</a></li>
                                            <li><a href="@Url.Action("Index", "User/Logout")">Logout</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li><a href="" type="button" data-toggle="modal" data-target="#myModal">Login</a></li>
                                    <li><a href="@Url.Action("Index", "User/Index")">Registration</a></li>
                                }
                            }


                        </ul>
                    </nav>
                    <!-- end site nav -->
                </div>
                <!-- end header widgets -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </header>
    <!-- end header -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">User Login</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="loginform">
                        <div class="form-group">
                            <label for="inputemail" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputemail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputpassword" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputpassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default" id="submit">Sign in</button>
                                <p id="loginalert"></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- start main -->
    <main id="main">
        <section id="main-content">
            <!-- start container -->
            <div class="container">
                <!-- start section content -->
                <div class="section-content row">
                    <section id="respond">
                        <div class="col-md-12">
                            <div class="col-md-6 col-md-offset-3">
                                @using (Html.BeginForm("Publish", "Post", FormMethod.Post, new {@class = "form-horizontal", role = "form", id = "formCheckPassword"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <h4>Review Post</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                    @Html.HiddenFor(model => model.PostId)
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Title, new {@class = "col-md-2 control-label"})
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
                                            @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group editor-field">
                                        @Html.LabelFor(m => m.Description, new {@class = "col-md-2 control-label"})
                                        <div class="col-md-10">
                                            @Html.EditorFor(m => m.Description)
                                            @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                                            <span></span>
                                        </div>
                                        @{ int id = Convert.ToInt32(Session["UserId"]); }
                                        <input type="hidden" name="UserId" value="@id" />
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" name="Submit" class="btn btn-primary" value="Publish" id="btnSave" />
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </section>
    </main>
    <!-- end main -->
    <!-- start footer -->
    <footer id="site-footer">

        <!-- start footer bottom -->
        <section id="footer-bottom" class="section dark">
            <!-- start container -->
            <div class="container">
                <!-- start row -->
                <div class="row">
                    <!-- start copyright -->
                    <div class="col-18">
                        <p class="copyright">
                            &copy; Apocalypto. Designed &amp; developed by <a href="#">Apocalypto</a>
                        </p>
                    </div>
                    <!-- end copyright -->
                    <!-- start footer nav -->
                    <div class="col-18">

                    </div>
                    <!-- end footer nav -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end footer bottom -->
    </footer>
    <!-- end footer -->
    <!-- place scripts at the end of body for better performance -->

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script type="text/javascript" src="../../src/hoverdir/jquery.hoverdir.min.js"></script>
    <script type="text/javascript" src="../../src/slicknav/jquery.slicknav.min.js"></script>
    <script type="text/javascript" src="../../src/appear/jquery.appear.js"></script>
    <script type="text/javascript" src="../../src/countup/countUp.min.js"></script>
    <script type="text/javascript" src="../../src/twitter/jquery.tweet.js"></script>
    <script type="text/javascript" src="../../src/sticky/jquery.sticky.js"></script>
    <script type="text/javascript" src="../../js/casanova.menu.js"></script>
    <script type="text/javascript" src="../../js/casanova.accordion.js"></script>
    <script type="text/javascript" src="../../js/casanova.js"></script>
    <script type="text/javascript" src="../../js/init.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#loginform").submit(function () {
                var name = $("#inputemail").val();
                var pass = $("#inputpassword").val();
                var mydata = { username: name, password: pass };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoginUser", "User")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(mydata),
                    dataType: "json",
                    success: function (data) {
                        if (data == true) {
                            $('#myModal').modal('hide');
                            location.reload();
                        } else {
                            $("#loginalert").html("");
                            $("#loginalert").append('<div class="alert alert-danger" role="alert">Email or Password not correct</div>');
                        }
                    },
                });
                return false;
            });
        });
    </script>

</body>
<!-- Mirrored from www.kingthemes.com/preview/casanova/html/blog.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 09 Apr 2014 02:22:05 GMT -->
</html>